CORPUS_LOGGER_LEVEL=-4

CORPUS_LLM_PROVIDER_NAME=mistral # Available: openrouter, openai, mistral
CORPUS_LLM_PROVIDER_KEY=
CORPUS_LLM_PROVIDER_BASE_URL=https://api.mistral.ai/v1/
CORPUS_LLM_PROVIDER_CHAT_COMPLETION_MODEL=mistral-small-latest
CORPUS_LLM_PROVIDER_EMBEDDINGS_MODEL=mistral-embed

# Data storage configuration

CORPUS_STORAGE_DATABASE_DSN=data/data.sqlite
CORPUS_STORAGE_BLEVE_DSN=data/index.bleve
CORPUS_STORAGE_SQLITEVEC_DSN=data/index.sqlite


# File converter configuration

CORPUS_FILE_CONVERTER_URI="libreoffice+pandoc://,mistral://api.mistral.ai?apiKey=${CORPUS_LLM_PROVIDER_KEY}"

# Enable/disable debug logging

CORPUS_LOGGER_DEBUG=true

# HTTP configuration

CORPUS_HTTP_SESSION_KEYS=abcdefghijklmnopqrstuvwxyz000000
CORPUS_HTTP_BASE_URL=http://localhost:3002

# Default admin email, can be a list with a "," separator

CORPUS_HTTP_AUTHN_DEFAULT_ADMINS="admin@example.com"

# OIDC providers configuration

# Callback URL: https://corpusserver/auth/oidc/providers/gitea/callback
# For dev instance: http://localhost:3002/auth/oidc/providers/gitea/callback

# Gitea

CORPUS_HTTP_AUTHN_PROVIDERS_GITEA_KEY=
CORPUS_HTTP_AUTHN_PROVIDERS_GITEA_SECRET=
CORPUS_HTTP_AUTHN_PROVIDERS_GITEA_LABEL=
CORPUS_HTTP_AUTHN_PROVIDERS_GITEA_AUTH_URL=https://giteaserver/login/oauth/authorize
CORPUS_HTTP_AUTHN_PROVIDERS_GITEA_TOKEN_URL=https://giteaserver/login/oauth/access_token
CORPUS_HTTP_AUTHN_PROVIDERS_GITEA_PROFILE_URL=https://giteaserver/login/oauth/userinfo
CORPUS_HTTP_AUTHN_PROVIDERS_GITEA_SCOPES=openid,email

# Google

CORPUS_HTTP_AUTHN_PROVIDERS_GOOGLE_KEY=
CORPUS_HTTP_AUTHN_PROVIDERS_GOOGLE_SECRET=

# Github

CORPUS_HTTP_AUTHN_PROVIDERS_GITHUB_KEY=
CORPUS_HTTP_AUTHN_PROVIDERS_GITHUB_SECRET=
CORPUS_HTTP_AUTHN_PROVIDERS_GITHUB_SCOPES=openid,user